### Scrape For CSV Data

In [1]:
import pandas as pd

# Thanks to the website at GitHub for the data!
data_url = "https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_daily_reports_us/"
data_dfs = []
data_count = 0

for month in range(3, 8):
    for x in range(31):
        if x < 9:
            csv_name = f"0{month + 1}-0{x + 1}-2020.csv"
        else:
            csv_name = f"0{month + 1}-{x + 1}-2020.csv"

        try:
            data_tables = pd.read_html(data_url + csv_name)
            data_dfs.append(data_tables[0])
            data_count += 1
        except:
            print(f"The csv '{csv_name}' was not found")

data_dfs[-1].head()

The csv '04-01-2020.csv' was not found
The csv '04-02-2020.csv' was not found
The csv '04-03-2020.csv' was not found
The csv '04-04-2020.csv' was not found
The csv '04-05-2020.csv' was not found
The csv '04-06-2020.csv' was not found
The csv '04-07-2020.csv' was not found
The csv '04-08-2020.csv' was not found
The csv '04-09-2020.csv' was not found
The csv '04-10-2020.csv' was not found
The csv '04-11-2020.csv' was not found
The csv '04-31-2020.csv' was not found
The csv '06-31-2020.csv' was not found
The csv '08-19-2020.csv' was not found
The csv '08-20-2020.csv' was not found
The csv '08-21-2020.csv' was not found
The csv '08-22-2020.csv' was not found
The csv '08-23-2020.csv' was not found
The csv '08-24-2020.csv' was not found
The csv '08-25-2020.csv' was not found
The csv '08-26-2020.csv' was not found
The csv '08-27-2020.csv' was not found
The csv '08-28-2020.csv' was not found
The csv '08-29-2020.csv' was not found
The csv '08-30-2020.csv' was not found
The csv '08-31-2020.csv' was not found

,Unnamed: 0,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,NaN,Alabama,US,2020-08-19 04:30:22,32.3182,-86.9023,110361,1936,41523.0,66902.0,1.0,2250.802285,868259.0,12958.0,1.754243,84000001,USA,17708.061189,11.741467
1,NaN,Alaska,US,2020-08-19 04:30:22,61.3707,-152.4044,4371,29,1468.0,2874.0,2.0,597.502546,310009.0,NaN,0.663464,84000002,USA,42377.297364,NaN
2,NaN,American Samoa,US,2020-08-19 04:30:22,-14.2710,-170.1320,0,0,NaN,0.0,60.0,0.000000,1514.0,NaN,NaN,16,ASM,2721.015079,NaN
3,NaN,Arizona,US,2020-08-19 04:30:22,33.7298,-111.4312,194920,4529,28027.0,162364.0,4.0,2677.944478,1103997.0,20878.0,2.323517,84000004,USA,15167.467014,10.711061
4,NaN,Arkansas,US,2020-08-19 04:30:22,34.9697,-92.3731,53487,619,46970.0,5898.0,5.0,1772.381507,633062.0,3695.0,1.157291,84000005,USA,20977.571771,6.908221

### Clean the Data

In [2]:
print(data_count)
for i in range(data_count):
    try:
        data_dfs[i] = data_dfs[i].drop(columns='Unnamed: 0')
    except KeyError:
        print(f"The column 'Unnamed: 0' is not in dataframe {i}")
data_dfs[20].head()

129

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-05-03 02:32:33,32.3182,-86.9023,7611,288,0,7323.0,1,162.319624,92209.0,1023.0,3.783997,84000001,USA,1966.539252,13.441072
1,Alaska,US,2020-05-03 02:32:33,61.3707,-152.4044,365,9,261,95.0,2,61.062419,21399.0,NaN,2.465753,84000002,USA,3579.930707,NaN
2,American Samoa,US,2020-05-03 02:32:33,-14.2710,-170.1320,0,0,0,0.0,60,0.000000,57.0,NaN,NaN,16,ASM,102.442444,NaN
3,Arizona,US,2020-05-03 02:32:33,33.7298,-111.4312,8364,330,1565,6469.0,4,114.910361,77997.0,1339.0,3.945481,84000004,USA,1071.576213,16.009087
4,Arkansas,US,2020-05-03 02:32:33,34.9697,-92.3731,3372,72,1987,1313.0,5,130.241979,51582.0,414.0,2.135231,84000005,USA,1992.331482,12.277580

### Now Put it all in one DataFrame (and Save to CSV)

In [3]:
main_df = pd.DataFrame()

for df in data_dfs:
    main_df = main_df.append(df)

main_df.to_csv('Resources/US_Data.csv')
main_df.head(5)

,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,FIPS,Incident_Rate,People_Tested,People_Hospitalized,Mortality_Rate,UID,ISO3,Testing_Rate,Hospitalization_Rate
0,Alabama,US,2020-04-12 23:18:15,32.3182,-86.9023,3563,93,NaN,3470.0,1.0,75.988020,21583.0,437.0,2.610160,84000001.0,USA,460.300152,12.264945
1,Alaska,US,2020-04-12 23:18:15,61.3707,-152.4044,272,8,66.0,264.0,2.0,45.504049,8038.0,31.0,2.941176,84000002.0,USA,1344.711576,11.397059
2,Arizona,US,2020-04-12 23:18:15,33.7298,-111.4312,3542,115,NaN,3427.0,4.0,48.662422,42109.0,NaN,3.246753,84000004.0,USA,578.522286,NaN
3,Arkansas,US,2020-04-12 23:18:15,34.9697,-92.3731,1280,27,367.0,1253.0,5.0,49.439423,19722.0,130.0,2.109375,84000005.0,USA,761.753354,10.156250
4,California,US,2020-04-12 23:18:15,36.1162,-119.6816,22795,640,NaN,22155.0,6.0,58.137726,190328.0,5234.0,2.812020,84000006.0,USA,485.423868,22.961176